@import 'node_modules/bootstrap/scss/functions';
@import '~/assets/css/_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.nav-menu-section {
  color: $dark-white;

  &__sub_menu {
    color: $gray-800;
  }


  &__item_link {
    padding: 13px 24px;

    &--size_big {
      padding: 16px 24px;
    }

    &--size_medium {
      padding: 8px 0;
    }

    &.active {
      color: $primary;
    }
  }

  > .nav-menu-section__item {
    background: transparent;
    > .nav-menu-section__item_link {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      &.active {
        background-color: $dark-white;
        &:after, &:before {
          width: 10px;
          height: 10px;
          background: transparent;
          bottom: 0;
          left: -10px;
          position: absolute;
          content: '';
          border-bottom-right-radius: 100%;
          box-shadow: 50px 0px 0px 50px $dark-white;
          clip: rect(0px, 60px, 50px, 0px);
          display: block;
        }
        &:before {
          left: initial;
          right: -10px;
          transform: scaleX(-1);
        }
      }
    }
  }
}
